<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleafexamples - Spring Security</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<h1>Thymeleafexamples - Spring Security</h1>
<p>This is the <b>administration</b> zone</p>
<p>Only authenticated users with role <b>ADMIN</b> are allowed to see this page.</p>
<form th:action="@{/logout}" method="post" style="display:inline"><input type="submit" value="Logout"/></form>
</body>
</html>