<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>CMS首页</title>
    <meta charset="utf-8"/>
</head>
<body>
<div th:fragment="logout" class="logout"
     sec:authorize="isAuthenticated()">
    Logged user: <span sec:authentication="name">Bob</span> |
    Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> |
    <!--/* When using CSRF this needs to be a POST */-->
    <form th:action="@{/logout}" method="post" style="display:inline"><input type="submit" value="Logout"/></form>
</div>
<h1>Thymeleafexamples - Spring Security - CMS INDEX</h1>
<p>This is a demo of Thymeleaf and Spring-Security integration.</p>
<h2>Private pages</h2>
<p>This is a public page, but you can navigate to protected pages to trigger authentication.</p>

</body>
</html>